<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="server_address" value="http://desktop01.home.snowdenlabs.co.uk:5000/"/>
    <add key="domain" value="snowdenlabs"/>
    <add key="printer_port" value="COM3"/>
    <add key="printer_baud" value="19200"/>
    <add key="printer_parameters" value="8-N-1"/>
    <add key="printer_enabled" value="true"/>
  </appSettings>
</configuration>